---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const allLists = await Astro.glob('../../content/lists/*.md');
  return allLists.map(post => ({
    params: { slug: post.frontmatter.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.frontmatter.title}>
	<h1>{post.frontmatter.title}</h1>
	<p><em>Last Updated: {post.frontmatter.lastUpdated}</em></p>
	<p>{post.frontmatter.description}</p>
	<hr>
	<Content />
</Layout>