---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const allLists = await Astro.glob('../../content/lists/*.md');
  return allLists.map(post => ({
    params: { slug: post.frontmatter.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, frontmatter } = post; // <--- 我们用这行更简单直接的方式
---

<Layout title={frontmatter.title}>
	<h1>{frontmatter.title}</h1>
	<p><em>Last Updated: {frontmatter.lastUpdated}</em></p>
	<p>{frontmatter.description}</p>
	<hr>
	<Content />
</Layout>
